<!-- post all snippets -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>All Page</title>
  <link rel="stylesheet" href="main.css" >
</head>
<body>
  <header>
    <h1>This is the header</h1>
  </header>
  <span>
    <h2>Links to other pages</h2>
    <p><a href="/">Home</a></p>
    <p><a href="/form">Create New Snippets</a></p>
  </span>
  <ul>
    {{#data}}
    <li>
      <a href="/edit">Click Here to Edit</a>
      <span class="main">Title</span> {{title}}
      <br />
      {{#snippets}}
      <a href="/single_update">Edit Snippet</a>ß
      Body: {{body}} <br />
      Notes: {{notes}} <br />
      <a href="/language">Language: {{language}} </a><br />
      <a href="/tags">Tags: {{tags}} </a>
      {{/snippets}}
    </li>
    {{/data}}
  </ul>
</body>
</html>
