<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create User</title>
  </head>
  <body>
    <form method="post" action="/create/user">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="password"
    </form>

  </body>
</html>
