<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create User</title>
  </head>
  <body>
    <form action="/login" method="post">
      <label for="username">Please create your username</label>
      <input type="text" name="username" placeholder="Username" />
      <label for="password">Please create your password</label>
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
