<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <input name="login" placeholder="login" />
      <button type="submit" formaction="/login/">Login</button>
      <button type="submit" formaction="/register/">Register</button>
    </form>
  </body>
</html>
