<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
</body>
  <form method="post" action="/home">
    <a href="/all">All Snippets</a>
    <a href="/form">New Snippets</a>
    <a href="/language">Language Listing</a>

  </form>
</html>


<!-- need to check for the correct formaction -->
